<h3>{{leyenda}}</h3>
<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-primary" (click)="cambiarvalor(-5)" type="button"><i class="mdi mdi-minus"></i></button>
  </span>
  <input type="number" #txtProgress name="progreso" class="form-control" [(ngModel)]="porcentaje" min="1" max="100" (ngModelChange) = "onChange($event)" >
  <span class="input-group-btn">
    <button class="btn btn-primary" (click)="cambiarvalor(5)" type="button" ><i class="mdi mdi-plus"></i></button>
  </span>
</div>
